*{
    margin: 0;
    padding: 0;
}
.linea{
    border-bottom: 3px solid #352F44;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.centrar{
    margin-top: 10px;
    text-align: center;
}
.fondo{
    background-color: #040D12;
}
.cambiar_tamanio{
    color: #040D12;
}
.cambiar_tamanio:hover{
     transition: all 2s ;
     color: #1450A3;
     font-size: 30px;
}
.espacios{
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}
.blanco{
    color: white;
}
a{
    text-decoration: none;
}